*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@font-face{
    font-family: OpenSans;
    src: url("../tools/Open_Sans/OpenSans-Regular.ttf");
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#00ebe3);
    border-radius: 7px;
} 

body{
    font-family: OpenSans, sans-serif;
    background: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    color: #ffffff;
}

.contenedor{
    width: 1000px;
    max-width: 90%;
    margin: auto;
}

input,
select,
button{
    font-family: OpenSans, sans-serif;
}

input:focus,
select:focus,
button:focus{
    outline: none;
}
