header{
    padding: 0px;
    width:100%;
    height: 760px;
    background-image: url("../img/bg/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(0,0,0, 0.6);
        height: 760px;
    }
    *{
        position: relative;
    }
    .logo{
        filter: none;
        display: inline-block;
        font-size: 25px;
        padding: 10px 40px;
        a{
            text-decoration: none;
            color: #fff;
            h1{
                animation-duration: 1s;
                animation-delay: 2s;
            }
        }
    }
    .contenedor-header{
        padding: 200px 90px 80px 90px;
        .icono,
        .titulo{
            display: inline-block;
            animation-duration: 4s;
        }
        .texto-titulo{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .icono{
                width: 40px;
                line-height: 40px;
                margin-right: 10px;
            }
            .titulo{
                font-size: 40px;
            }
        }
        .sub-titulo{
            font-size: 17px;
            margin-bottom: 26px;
            animation-duration: 3s;
            animation-delay: .2s;
        }
        .btn-lenguajes{
            background: none;
            color: #00D8D1;
            border: 1px solid #00D8D1;
            border-radius: 50px;
            padding: 10px 15px;
            font-family: OpenSans, sans-serif;
            font-size: 15px;
            cursor: pointer;
            transition: all .3s ease;
            animation-duration: 2s;
            &:hover{
                background: #00D8D1;
                color: #ffffff;
            }
        }
    }
}