.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 999;
    position: fixed;
    transition: all .5s ease;
}

.bar-icon{
    position: relative;
    width: 70px;
    height: 70px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.5s;
    span{
        width: 40px;
        height: 4px;
        background: #fff;
        position: absolute;
        transition: 0.5s;
        transform: translateX(-50%);
        &:nth-child(1){
            top: 30%;
            left: 50%;
            background: #fff;
        }
        &:nth-child(2){
            bottom: 30%;
            left: 50%;
            background: #fff;
        }
    }
    &::before{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 4px;
        background: #fff;
        transition: 0.5s;
    }
}
.bar-icon.active{
    span{
        &:nth-child(1){
            top: 50%;
            left:50%;
            width: 60%;
            transform: translate(-50%, -50%) rotate(125deg);
        }
        &:nth-child(2){
            top: 50%;
            left:50%;
            width: 60%;
            transform: translate(-50%, -50%) rotate(225deg);
        }
    }
}
.bar-icon.bar-icon.active{
    &::before{
        width: 0;
        height: 0;
    }
}

 /* Edicion de la lista del menu/ esto cambiar por otro efecto*/
 .menu-lista{
    position: absolute;
    top: 70px;
    left: 0;
    width: 0%;
    overflow: hidden;
    height: 95vh;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        list-style: none;
        a{
            position: relative;
            display: block;
            color: transparent;
            -webkit-text-stroke: 1px #00ebe3 ;
            font-size: 5em;
            font-weight: 900;
            text-decoration: none;
            line-height: 1.2em;
            font-family: 'Poppins', sans-serif;
            &:hover{
                color: #0a0c0c;
                -webkit-text-stroke: 1px #fff;
                transition: 0.5s;
            }
            &::before,
            &:after{
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.5s;
            }
            &:hover{
                &::before{
                    color: #fff;
                    z-index: 1;
                    -webkit-text-stroke: 1px #000;
                    transform: translate(8px,-8px);
                }
            }
            &:hover{
                &::after{
                    color:#00ebe3;
                    z-index: 2;
                    -webkit-text-stroke: 1px #000;
                    transform: translate(16px,-16px);
                }
            }
        }
    }
}
.navbar.activeScroll{
    background: #00ebe38c;
    transition: all .5s ease;
}
.navbar.active{
    background: #000000;
}